# Eclipse, ctags, Mac metadata, log files
.classpath
.project
.settings
tags
*.log
*.orig

# IntelliJ
.idea
**/build/
**/out/
**/logs/
!src/**/build/

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
/.idea/
/out/