<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zjw.xxxx.demo.mapper.DictMapper">
    <select id="page" resultType="pers.zjw.xxxx.demo.pojo.resp.DictResp">
        select code, value from dict
        <where>
            <if test="req != null">
                <if test="req.code != null">
                    code like CONCAT(CONCAT('%',#{req.code}),'%')
                </if>
            </if>
        </where>
    </select>

</mapper>
